@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

@keyframes pop {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
  }
  
  .animate-pop {
    animation: pop 0.3s ease-in-out;
  }
  